html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
/* nav */
.nav {
    display: flex;
    justify-content: space-between;
    height: 1000px;
}
.container {
    border: 1px solid #f4ecec;
    width: 100px;
    flex: 1.3;
}
.left {
    width: 90px;
    height: 870px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.left-top {
    height: 430px;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}
/* content */
.content{
    flex: 8;
    margin: 40px 30px;
}
.meet {
    display: flex;
    justify-content: space-between;
}
.title {
    font-size: 30px;
    font-weight: 900;
}
.time1 {
    display: flex;
    border: 2.5px solid #f07a7a;
    border-radius: 20px;
    padding: 0 12px;
    justify-content: space-around;
}
.time1 > div {
    font-size: 18px;
    padding: 7px 0;
    color: #f07a7a;
}
.icon-stop {
    color: #f07a7a;
}

.time2 {
    display: flex;
    width: 350px;
    justify-content: space-between;
    margin-top: 15px;
}
.internal {
    display: flex;
    background-color: #f07a7a;
    padding: 7px 10px;
    justify-content: space-around;
    border-radius: 20px;
    color: #fff;
}
.user {
    color: black;
    margin-right: 5px;
}
.sep {
    display: flex;
    padding: 7px 5px;
}
.sep-02 {
    font-size: 15px;
}
.am {
    padding: 5px 5px;
    font-size: 18px;
}
